.common-table {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    box-sizing: border-box;
}

.common-table__title {
    margin-top: 50px;
}

.common-table__title h1 {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
    font-size: 25px;
}

.common-table__title--line {
    display: inline-block;
    width: 8px;
    height: 30px;
    background-color: #000;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 50px 0;
    border-bottom: 2px solid #000000;
}

.nav__tabs {
    display: flex;
    gap: 100px;
    margin-left: 60px;
}

.nav__tab {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.nav__tab--active {
    font-weight: bold;
}

.common-table__table {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
}

.common-table__table table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #FFFFFF;
}

.common-table__table th {
    padding: 10px 30px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    color: #737373;
}

.common-table__table td {
    padding: 10px 30px;
    border-bottom: 3px solid #F5F5F5;
    font-size: 15px;
    color: #737373;
    font-weight: bold;
    height: 50px;
    white-space: nowrap;
}

.note-column {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.common-table__table tbody tr:last-child td {
    border-bottom: none;
}

.common-table .common-table__detail-btn {
    all:unset;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.common-table .common-table__detail-btn:hover {
    color: #737373;
    text-decoration: underline;
}


