.attendance__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 5px;
    width: 200px;
    height: 70px;
    border-radius: 15px;
    background-color: #000;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.attendance__button:hover {
    background-color: #333;
}
