body {
    margin: 0;
    padding: 0;
    background-color:#F5F5F5;
    font-family: 'Inter', sans-serif;
}

.header {
    background: #000;
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1540px;
    margin: 0 auto;
    padding: 5px 30px;
    height: 70px;
    box-sizing: border-box;
}

.header__logo {
    flex-shrink: 0;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 40px;
}

.header__buttons li,
.header__buttons form {
    display: flex;
    align-items: center;
    margin: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    line-height: 1;
    border: none;
    background: #000;
    font-size:20px;
    font-weight: bold;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
}




