body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    background: #000;
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1540px;
    margin: 0 auto;
    padding: 0px 30px;
    box-sizing: border-box;
}

.header__logo {
    flex-shrink: 0;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-shrink: 1;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size:20px;
    font-weight: bold;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.button--logout {
    margin-top: 10px;
}

.button--afterwork {
    font-weight: normal;
}
