.common-table {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    box-sizing: border-box;
}

.common-table__title {
    margin-top: 50px;
}

.common-table__title h1 {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
    font-size: 25px;
}

.common-table__title--line {
    display: inline-block;
    width: 8px;
    height: 30px;
    background-color: #000;
}

.common-table__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin: 30px 0;
    height: 50px;
    border: solid 1px #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.common-table__nav button .arrow-icon {
    width: 16px;
    height: 16px;
    fill: #737373;
}

.common-table__arrow-left {
    margin-right: 5px;
}

.common-table__arrow-right {
    margin-left: 5px;
    transform: rotate(180deg);
}

.common-table .common-table__nav button {
    all: unset;
    padding: 8px 12px;
    color: #737373;
    font-weight: bold;
    cursor: pointer;
}

.common-table__nav span {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.calendar-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.common-table__table {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #FFFFFF;
}

.common-table__table table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #FFFFFF;
}

.common-table__table th {
    padding: 10px 10px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    color: #737373;
}

.common-table__table td {
    padding: 10px 10px;
    border-bottom: 3px solid #F5F5F5;
    font-size: 15px;
    color: #737373;
    font-weight: bold;
}

.common-table__table tbody tr:last-child td {
    border-bottom: none;
}

.common-table .common-table__detail-btn {
    all:unset;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.common-table .common-table__detail-btn:hover {
    color: #737373;
    text-decoration: underline;
}

