.common-table {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    box-sizing: border-box;
}

.common-table__title {
    margin-top: 50px;
}

.common-table__title h1 {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
    font-size: 25px;
}

.common-table__title--line {
    display: inline-block;
    width: 8px;
    height: 30px;
    background-color: #000;
}

.common-table__table table {
    width: 100%;
    margin-top: 80px;
    border-collapse: separate;
    border-spacing: 0;
    border: solid 1px #FFFFFF;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFFF;
    overflow: hidden;
}

.common-table__table th {
    padding: 10px 10px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    color: #737373;
}

.common-table__table td {
    padding: 10px 10px;
    border-bottom: 3px solid #F5F5F5;
    font-size: 15px;
    color: #737373;
    font-weight: bold;
}

.common-table__table tbody tr:last-child td {
    border-bottom: none;
}

.common-table__detail-btn {
    all:unset;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
    color: #000;
    cursor: pointer;
}

.common-table__detail-btn:hover {
    color: #737373;
    text-decoration: underline;
}

