.attendance__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.attendance__button button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #000;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
}

.pending-row td {
    background-color: #ffefef;
}
