.attendance {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
    box-sizing: border-box;
}

.attendance__title {
    margin-top: 50px;
}

.attendance__title h1 {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
    font-size: 25px;
}

.attendance__title--line {
    display: inline-block;
    width: 8px;
    height: 30px;
    background-color: #000;
}

.attendance__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    margin: 30px 0;
    height: 50px;
    border: solid 1px #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.attendance__nav button .arrow-icon {
    width: 16px;
    height: 16px;
    fill: #737373;
}

.arrow-icon-left {
    margin-right: 5px;
}

.arrow-icon-right {
    margin-left: 5px;
    transform: rotate(180deg);
}

.attendance .attendance__nav button {
    all: unset;
    padding: 8px 12px;
    color: #737373;
    font-weight: bold;
    cursor: pointer;
}

.attendance__nav span {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.calendar-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.attendance__table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: solid 1px #FFFFFF;
    border-radius: 10px;
    text-align: center;
    background-color: #FFFFFF;
    overflow: hidden;
}

.attendance__table th {
    padding: 10px 10px;
    background-color: #FFFFFF;
    border-bottom: 5px solid #F5F5F5;
    font-size: 15px;
    font-weight: bold;
    color: #737373;
}

.attendance__table td {
    padding: 10px 10px;
    border-bottom: 3px solid #F5F5F5;
    font-size: 15px;
    color: #737373;
    font-weight: bold;
}

.attendance__table tbody tr:last-child td {
    border-bottom: none;
}

.attendance .attendance__detail-btn {
    all:unset;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.attendance .attendance__detail-btn:hover {
    color: #737373;
    text-decoration: underline;
}

