.attendance__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 5px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    color: #000;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
}

.attendance__button:hover {
    background-color: #f5f5f5;
}
