.attendance__buttons {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.attendance__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.attendance__button--clockout {
    background-color: #000;
    color: #fff;
}

.attendance__button--breakin {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    color: #000;
}

.attendance__button--clockout:hover {
    background-color: #333;
}

.attendance__button--breakin:hover {
    background-color: #f5f5f5;
}